<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Find Me</h1>
      </div>
    </div>

    <br><br><br><br>

    <div class="row">

      <div class="col-lg-4">


        <a href="https://www.facebook.com/arafatomer66" target="_blank"><img src="../../assets/1.png" alt="Italian Trulli"></a>
      </div>
      <div class="col-lg-4">
       
        <a href="https://www.instagram.com/arafatomer66" target="_blank">
          <img src="../../assets/2.png" alt="Italian Trulli"></a>
      </div>
      <div class="col-lg-4">
  
        <a href="https://www.linkedin.com/in/arafatomer66" target="_blank">

          <img src="../../assets/3.png" alt="Italian Trulli"></a>
      </div>

    </div>
  </div>
</section>