<section id="welcome" class="welcome-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 well" style="margin:20px;" >
          <h1>{{name}}</h1>
          <p>&nbsp;</p>
          <h4> I am a full stack developer (Angular + Laravel) , Seeking a challenging position and creative work in a
            software engineering, communication environment and designing where I could learn & add my knowledge and
            skills for the better productivity of the organization
          </h4>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <a class="btn btn-primary page-scroll" href="#about">Know About Me More</a>
        </div>
      </div>
    </div>
  </section>